html {
  scroll-behavior: smooth;
}
body {
  font-family: "Noto sans KR", sans-serif;
  color: #f1f1f1;
  background-color: #000;
}
a {
  color: #f1f1f1;
  text-decoration: none;
}
/* 따라다니는 작은 원 커서 */
.cursor-small {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  pointer-events: none;
  z-index: 1000;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
}

/* loading */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: white;
  transition: 1s;
}
#loader {
  position: relative;
  font-size: 3rem;
  font-weight: bold;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}
.title .text-wrap {
  display: flex;
  font-weight: 700;
  letter-spacing: 0.1em;
  overflow: hidden;
}
.title .text-wrap:nth-of-type(1) {
  font-size: 120px;
  margin-bottom: 20px;
}
.title .text-wrap:nth-of-type(2) {
  font-size: 30px;
}
.letter {
  opacity: 0;
  color: #191919;
  transform: translateY(100%);
  transition: opacity 1s, transform 0.6s;
}
.letter.fade-out {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s, transform 1s;
}
.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s, transform 1s;
}

#main-content {
  display: none;
  opacity: 0;
  transition: opacity 2s;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  z-index: 9;
}
header .inner {
  height: 80px;
  padding: 0 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  box-sizing: border-box;
  font-weight: 500;
}
header .inner nav ul {
  display: flex;
  gap: 50px;
}
header .inner nav ul li a {
  color: #595959;
  transition: 0.3s;
}
header .inner nav ul li:hover a {
  color: #f1f1f1;
}

/* section : about */
section.about {
  height: 2000px;
}
section.about .inner .info {
  position: absolute;
  left: 200px;
  bottom: -900px;
  max-width: 690px;
  width: 100%;
  font-size: 50px;
  line-height: 5rem;
  font-weight: 500;
  color: #242424;
}
section.about .inner .info span {
  transition: color 1s, -webkit-text-stroke 1s; /* 부드러운 색상 전환 및 stroke 제거 */
}
section.about .inner .info span.scrolled {
  color: #f1f1f1;
  -webkit-text-stroke: none;
}

/* section : portfolio */
section.portfolio {
  margin-top: 300px;
}
section.portfolio .list {
  display: flex;
  max-width: calc(100% - 240px);
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
}
section.portfolio .list li {
  height: 100%;
}
section.portfolio .list li:nth-of-type(2) {
  margin-top: 100px;
  display: flex;
  justify-content: end;
}
section.portfolio .list li:nth-of-type(3) {
  margin-top: 150px;
  padding-left: 140px;
}
section.portfolio .list li .list-photo {
  border-radius: 6px;
  z-index: -1;
  overflow: hidden;
}
section.portfolio .list li:nth-of-type(1) .list-photo {
  max-width: 850px;
  width: 100%;
}
section.portfolio .list li:nth-of-type(2) .list-photo {
  max-width: 694px;
  width: 100%;
}
section.portfolio .list li:nth-of-type(3) .list-photo {
  max-width: 700px;
  width: 100%;
}
section.portfolio .list li .list-info {
  margin-top: -15px;
  margin-left: 30px;
  z-index: 10;
}
section.portfolio .list li .list-info h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}
section.portfolio .list li .list-info .detail .skill {
  margin-top: 20px;
  height: 80px;
  color: #c0c0c0;
}
section.portfolio .list li .list-info .detail .link {
  display: flex;
  gap: 60px;
}
section.portfolio .list li .list-info .detail .link div {
  width: fit-content;
}
section.portfolio .list li .list-info .detail .link div a {
  display: flex;
  gap: 12px;
  align-items: center;
}
section.portfolio .list li .list-info .detail .link a:hover img {
  transition: 0.3s;
  transform: translateX(10px);
}

/* footer */
footer {
  margin-top: 300px;
}
footer .inner {
  position: relative;
  max-width: calc(100% - 240px);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100vh;
  padding-bottom: 50px;
}
footer .inner .content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
}
footer .inner .content h1 {
  text-align: center;
  width: 100%;
  font-size: 50px;
  font-weight: 500;
}
footer .inner .profile {
  display: flex;
  justify-content: space-between;
}

/* skill */
.bg-skill {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  z-index: -1;
}
.bg-skill .inner {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto;
}
.bg-skill .inner .list {
  display: flex;
  user-select: none;
  gap: 50px;
}
.bg-skill .inner .list span {
  font-size: 100px;
  font-weight: 500;
  color: #0e0e0e;
}
.bg-skill .inner .list .list-group {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  animation: scroll-x 60s linear infinite;
}
.bg-skill .inner .list-reverse .list-group {
  animation-direction: reverse;
  animation-delay: -3s;
}
@media (prefers-reduced-motion: reduce) {
  .list {
    animation-play-state: paused;
  }
}
@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 50px));
  }
}
